<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi!</h3>
    <p>
      <%= @contact.first_name %>, I'm excited to work together to meet your fitness goals.  Lets do this! 
    </p>
    <p>Thanks!</p>
    <p>Mayra</p>
  </body>
</html>